@import './variables';

.contentArea-root-div {
  width: 100%;
  border-radius: 1rem;
  background-color: $white;
  display: flex;
  justify-content: center;
}

.content-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 3rem 6rem 3rem;
}

@media (max-width: 400px) {
  .content-div {
    padding: 2rem;
  }
}
