@import './variables';

.home-root-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.presentation-content {
  display: flex;
  flex-direction: column;
  p {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  span {
    font-weight: 700;
    letter-spacing: 0.13rem;
  }
}

.icons-div {
  display: flex;
  flex-direction: column;
  p {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  span {
    font-weight: 700;
    letter-spacing: 0.15rem;
  }
}

.list-icons-1,
.list-icons-2 {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-top: 2rem;
  }
  &:not(:first-child) {
    margin-bottom: 2rem;
  }
  svg {
    width: 5rem;
    border-radius: 0.5rem;
    fill: $black;
  }
}

.svg-hover {
  .title-svg-div {
    display: none;
    position: fixed;
    width: fit-content;
    height: fit-content;
    background-color: $black;
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
  }
  h1 {
    font-size: 2rem;
    color: $white;
    font-weight: 600;
  }
  &:hover {
    cursor: crosshair;
    h1,
    .title-svg-div {
      display: block;
    }
  }
}

@media (max-width: 1250px) {
  .home-root-div {
    margin-top: 2.5rem;
  }
}
