@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
@import './variables';

:root,
#root,
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Lexend', sans-serif;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

button {
  padding: 0;
  margin: 0;
}

html {
  border: solid 1.5rem $black;
  background-color: $black;
}

body {
  background-color: $black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
