@import './variables';

.navbar-root-div {
  @include flexCenter(row);
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  position: sticky;
  margin-bottom: 3rem;
  .switchMode-button {
    fill: $black;
    width: 5rem;
  }
  button {
    color: $white500;
    border: none;
    font-size: 2.2rem;
    border-radius: 0.6rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.12s linear;
    font-weight: 500;
    letter-spacing: 0.15rem;
    &:hover {
      background-color: $white100;
      color: $black700;
    }
    &:active {
      background-color: $white200;
      color: $black800;
    }
  }
  .projects-button.active,
  .contact-button.active {
    color: $black;
    background-color: $white100;
    &:hover {
      background-color: $white200;
    }
    &:active {
      background-color: $white300;
    }
  }
  .home-button.active {
    background-color: $white100;
    &:hover {
      background-color: $white200;
    }
    &:active {
      background-color: $white300;
    }
  }
}
