@import './variables';

.pictureArea-root-div {
  @include flexCenter(column);
  width: 100%;
  border-radius: 1rem;
  background-color: $white;
  gap: 8rem;
  padding: 4rem 2rem;
  height: 100%;
}

.picture-div {
  img {
    width: 100%;
    max-width: 40rem;
    border-radius: 0.5rem;
  }
}

.line {
  width: 25%;
  height: 0.7rem;
  background-color: $black;
  border-radius: 0.5rem;
}

@media (max-width: 1250px) {
  .pictureArea-root-div {
    padding: 6rem 4rem;
  }
}
