@import './variables';

.pictureArea-root-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: $white;
  gap: 8rem;
  padding: 4rem 2rem;
  overflow: hidden;
}

.picture-div {
  @include flexCenter();
  img {
    min-width: 15rem;
    width: 40rem;
    border-radius: 0.5rem;
  }
}

.line {
  width: 25%;
  height: 1.5rem;
  background-color: $black;
  border-radius: 0.5rem;
}
