@import './variables';

.portfolio-root-div {
  display: flex;
  gap: 1.5rem;
  height: 100%;
}

@media (max-width: 1250px) {
  .portfolio-root-div {
    display: flex;
    flex-direction: column;
  }
}
