$green: #7bef23;
$blue: #6fa9ff;
$blue100: #5197ff;

$black: #161616;
$black100: #242424;
$black200: #323232;
$black300: #404040;
$black400: #4e4e4e;
$black500: #5c5c5c;
$black600: #6a6a6a;
$black700: #787878;
$black800: #868686;
$black900: #949494;

$white: #f6f6f6;
$white100: #ebebeb;
$white200: #dedede;
$white300: #d1d1d1;
$white400: #c4c4c4;
$white500: #b7b7b7;
$white600: #aaaaaa;
$white700: #9d9d9d;
$white800: #909090;
$white900: #838383;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
